{% extends 'main.html' %}
{% load crispy_forms_tags %}

{% block title %}ثبت نام فروشندگان{% endblock title %}

{% block content %}
<h1 style="color:white">پذیرش قرارداد</h1>


<form action="" method="post" style="color:white">
    {% csrf_token %}

    <textarea class= "container-fluid mt-auto" dir='rtl' name="rule" id="rule" cols="50" rows="10" style="overflow:auto;">
        قوانین و قرارداد
        ین قرارداد شامل عقد از راه دور بوده و ایجاب و قبول آن با استفاده از وسایل ارتباط از راه دور است که شخص ثبت نام کننده آنرا بدون هیچ گونه اجبار و اکراه و از روی صحت و سالمت و رضایت کامل بوسیله امضای الکترونیک و فشار دادن دکمه تایید مطابق ماده 10 قانون مدنی و وفق ماده 2 و 7 قانون تجارت الکترونیک این قرارداد را منعقد و امضاء نموده است که صیغۀ بیع شرعی و قانونی بدینوسیله بین طرفین جاری می گردد.
        روي صحت و سلامت و رضايت کامل اين قرار داد را منعقد نموده است .
        ارسال شده میباشد و موظف به اطلاع رسانی قبولی یا رد رزومه کاری ارسال شده توسط متقاضی است خریدار می باشد .
        این قرارداد هیچگونه تعهد استخدامی برای چی استور ایجاد نمیکند و از شمول قانون کار و بیمه خارج است و صرفاً جهت بررسی رزومه کاری متقاضیان محترم می باشد .
        هر شخص می باید مستقیما در سایت رسمی شرکت با نام خود ثبت نام کند و مسئولیت هر گونه عدم تطابق اطلاعات ذکر شده در رزومه به عهده نامبرده (متقاضی) می‌باشد.
         طبق ماده 555 قانون مجازات اسلامی  هر گونه جعل عنوان ممنوع بوده و مسئولیت استفاده از عناوین کذب به عهده متقاضی می‌باشد .
        ماده2 تجارت الکترونيکي
        (امضاي الکترونيکي) (Electronic Signature):
        عبارت از هر نوع علامت منضمم شده يا به نحو منطقي متصل شده به(داده پيام) است كه براي شناسايي امضاء كننده(داده پيام)، مورد استفاده قرار مي گيرد.
        (وسایل ارتباط ازراه دور)(Means Of Distance Communication):
        عبارت از هر نوع وسيله اي است كه بدون حضور فيزيكي همزمان تامين كننده و مصرف كننده جهت فروش كالا و خدمات استفاده مي‌شود.
        (عقدازراه دور)(Distance Contract):
        ايجاب و قبول راجع به كالاها و خدمات بين تامين كننده و مصرف كننده با استفاده از وسايل ارتباط از راه دور است.
        ماده 7 تجارت الکترونيکي:
        هر گاه قانون وجود امضاء را لازم بداند امضاي الکترونيکي مكفي است.
        ماده 10 مدني :
        قراردادهاي خصوصي نسبت به کسانيکه آن را منعقد نموده اند درصورتي که مخالف صريح قانون نباشد نافذ است.
        اين قرار داد وفق ماده 2 و 7 قانون تجارت الکترونيک و ماده 10 قانون مدني جمهوري اسلامي ايران منعقد گرديد و بين طرفين لازم مي باشد.
    </textarea>

    {{ rule_form | crispy }}
 
    <button>پرداخت آنلاین</button>

</form>

{% endblock content %}

  
