{% extends "main.html" %}


{% block title %}ایجاد رمزعبور جدید{% endblock title %}


{% block content %}

<p>رمز عبور خود را فراموش کرده اید؟ آدرس ایمیل خود را وارد کنید و ما مراحل تعیین رمز عبور جدید را برای شما ایمیل می‌کنیم</p>
<div class="row justify-content-md-center m-5">
    <form method="post">
        {% csrf_token %}
    <div class="form-group">
        {{ form.email.errors }}
        <label for="id_email">آدرس ایمیل</label>
        {{ form.email }}
        <input type="submit" class="btn btn-info" value="ایجاد رمز عبور جدید">
    </div>
    </form>
</div>
{% endblock content %}
