button{
    background-color:#fff;
    color: #000;
    padding:10px;
    border:none;
    border-radius:7px;
    display: inline-block;
    text-decoration:none;
   }

body{
    background: url('logo/background.jpeg');
    background-size:cover; 
  } 
   
