{% extends "main.html" %}

{% block titile %}تغییر رمز عبور{% endblock titile %}

{% block content %}

    {% if form.errors %}
                {% for error in form.errors %}
                    <strong>{{ error }}</strong>
                {% endfor %}
    {% endif %}


        <form action="{% url 'seller:change_password' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="old_password">رمز عبور قدیمی</label>
                <input type="password" name="old_password" class="form-control" required/>
            </div>
            <div class="form-group">
                <label for="new_password1">رمز عور جدید</label>
                <input type="password" name="new_password1" class="form-control" required/>
            </div>
            <div class="form-group">
                <label for="new_password2">تکرار رمز عبور جدید</label>
                <input type="password" name="new_password2" required class="form-control"/>
            </div>
            <div class="mt-1">
                <button type="submit" class="btn btn-success">تایید</button>
            </div>
        </form>

{% endblock content %}